 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 2.6;
        }

        footer {
            background-color: #333;
            width: 100%;
            padding: 0.40rem;
        }

        footer>h3{
            text-align: center;
            color: #fff;
        }